<launch>

<node pkg="openni_camera" type="openni_node" name="openni_node1" output="screen">
  <param name="device_id" value="#1"/> <!-- this line uses first enumerated device -->
  <param name="rgb_frame_id" value="/openni_rgb_optical_frame1" />
  <param name="depth_frame_id" value="/openni_depth_optical_frame1" />
  <param name="use_indices" value="false" />
  <param name="depth_registration" value="true" />
  <param name="image_mode" value="2" />
  <param name="depth_mode" value="2" />
  <param name="debayering" value="2" />
  <param name="depth_time_offset" value="0" />
  <param name="image_time_offset" value="0" />
</node>
<node pkg="openni_camera" type="openni_node" name="openni_node2" output="screen">
  <param name="device_id" value="#2"/> <!-- this line uses second enumerated device -->
  <param name="rgb_frame_id" value="/openni_rgb_optical_frame2" />
  <param name="depth_frame_id" value="/openni_depth_optical_frame2" />
  <param name="use_indices" value="false" />
  <param name="depth_registration" value="true" />
  <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
</node>
</launch>